body {
  /* Шрифт */
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
p {
  margin: 5px;
}
/* main */
.main {
}
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* main-content */
.main-content {
  position: relative;
  background-color: #ffffff;
  padding: 20px 20px;
}
@media screen and (min-width: 768px) {
  .main-content {
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
  }
}

/* about */
.about {
  margin-bottom: 40px;
}
.about_title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

/* Project */
.projects {
  margin-bottom: 50px;
}
.projects_title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.project-list {
  padding: 0;
  margin-left: 15px;
}
.project-list_item,
.project-list_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-list_span,
.project-list_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-list_link {
  margin-left: 10px;
}
/* Work */
.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.work_organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.work_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.work_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0px;
  margin-left: 15px;
}
/* Education styles */
.education {
  margin-top: 45px;
}
.education_text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
/* sidebar */
.sidebar {
  /* display: none; */
  background-color: #1e2939;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    /* display: block; */
    padding-top: 40px;
    padding-bottom: 0;
    width: 370px;
  }
}

.photo {
  display: none;
}

@media screen and (min-width: 768px) {
  .photo {
    display: block;
    width: 370px;
    margin-bottom: 30px;
  }
}

.Sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts,
.tech-skils,
.soft-skils {
  margin-left: 40px;
}
.contacts {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact_tipe {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #565e61;
}
.tech-skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.tech-skils_items {
  color: #fb6d3a;
}

.tech-skils_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.soft-skils {
  margin-top: 55px;
}
.project-list_link:hover {
  color: #fb6d3a;
}
.project-list_item:hover {
  color: #fb6d3a;
}
.contact_link:hover {
  color: #fb6d3a;
}

.position-ukraine {
  position: absolute;
  right: 40px;
}
@media screen and (max-width: 767px) {
  .position-ukraine {
    top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .position-ukraine {
    bottom: 40px;
  }
}
